@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,500;1,500&family=Be+Vietnam+Pro:wght@300&family=Noto+Serif:wght@700&family=Open+Sans:wght@400;700&family=Outfit:wght@300;700&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,500;1,500&family=Be+Vietnam+Pro:wght@300&family=Noto+Serif:wght@700&family=Open+Sans:wght@400;700&family=Outfit:wght@300;700&family=Roboto+Slab&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #e0e0e0;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(19px, 20px) 4fr 5fr 3fr minmax(19px, 20px);
      grid-template-columns: minmax(19px, 20px) 4fr 5fr 3fr minmax(19px, 20px);
  -ms-grid-rows: 2fr;
      grid-template-rows: 2fr;
  height: 80px;
      grid-template-areas: ". top-bar-text . top-bar-icons .";
  background-color: #2d2928;
  margin-bottom: 80px;
}

.header .top-bar-text {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: top-bar-text;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header .top-bar-text a {
  font-size: 20px;
  line-height: 14px;
  color: #c4c4c4;
  text-decoration: none;
  margin-right: 10px;
}

.header .top-bar-text :hover {
  color: #1fb482;
}

.header .top-bar-icons {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: top-bar-icons;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.header .top-bar-icons .header-icons-list {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
}

.header .top-bar-icons .header-icons-list li {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  margin-left: 10px;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1.5fr 1fr 0.5fr;
      grid-template-rows: 1fr 1.5fr 1fr 0.5fr;
}

.main .sub-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(19px, 20px) 3fr 2fr minmax(19px, 20px);
      grid-template-columns: minmax(19px, 20px) 3fr 2fr minmax(19px, 20px);
  -ms-grid-rows: 3fr 1fr 1fr;
      grid-template-rows: 3fr 1fr 1fr;
      grid-template-areas: ". logo logo ." ". title title ." ". navigation navigation .";
  margin-bottom: 80px;
}

.main .sub-header .sub-header-logo {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: logo;
  font-size: 100px;
  line-height: 120px;
  color: #282828;
  -ms-grid-column-align: center;
      justify-self: center;
}

.main .sub-header .sub-header-title {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: title;
  font-size: 20px;
  line-height: 24px;
  color: #4a4a4a;
  -ms-grid-column-align: center;
      justify-self: center;
  font-family: 'Noto Serif', serif;
}

.main .sub-header .sub-header-navigation {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: navigation;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-top: 3px solid #999;
  border-bottom: 3px solid #999;
}

.main .sub-header .sub-header-navigation .navigation-list {
  padding-top: 20px;
  padding-bottom: 20px;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
}

.main .sub-header .sub-header-navigation .navigation-list li a {
  font-size: 17px;
  line-height: 14px;
  color: #333333;
  margin-right: 50px;
  text-decoration: none;
  font-family: 'Azeret Mono', monospace;
}

.main .sub-header .sub-header-navigation .navigation-list li :hover {
  color: #33333367;
}

.main .first-magazine-page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(20px, 80px) 0.6fr 1fr minmax(20px, 80px);
      grid-template-columns: minmax(20px, 80px) 0.6fr 1fr minmax(20px, 80px);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: ". left-side right-side .";
}

.main .first-magazine-page .magazine-left-side {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: left-side;
}

.main .first-magazine-page .magazine-left-side .magazine-main-img {
  background-image: url(images/main-mag-img.png);
  width: 500px;
  height: 320px;
  position: relative;
  margin-bottom: 15px;
}

.main .first-magazine-page .magazine-left-side .magazine-main-img .magazin-img-size {
  position: absolute;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  font-family: 'Roboto Slab', serif;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main .first-magazine-page .magazine-left-side .main-title {
  font-size: 22px;
  line-height: 22px;
  color: #444444;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 20px;
}

.main .first-magazine-page .magazine-left-side .main-text {
  width: 497px;
  height: 99px;
  font-size: 16px;
  line-height: 19px;
  color: #666666;
  font-family: 'Roboto Slab', serif;
}

.main .first-magazine-page .magazine-right-side {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: right-side;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20px 1fr 1fr 20px;
      grid-template-columns: 20px 1fr 1fr 20px;
      grid-template-areas: ". first-half second-half .";
}

.main .first-magazine-page .magazine-right-side .first-half-topics {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: first-half;
}

.main .first-magazine-page .magazine-right-side .first-half-topics .magazine-small-topics {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 110px 1.5fr;
      grid-template-columns: 110px 1.5fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "magazine-sub-img magazine-text-info";
  margin-bottom: 20px;
}

.main .first-magazine-page .magazine-right-side .first-half-topics .magazine-small-topics .magazine-sub-img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: magazine-sub-img;
  background-image: url(images/magazine-sub-img.png);
  width: 100px;
  height: 100px;
  position: relative;
}

.main .first-magazine-page .magazine-right-side .first-half-topics .magazine-small-topics .magazine-sub-img .magazin-img-size {
  position: absolute;
  position: absolute;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  font-family: 'Roboto Slab', serif;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main .first-magazine-page .magazine-right-side .first-half-topics .magazine-small-topics .magazine-text-info {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: magazine-text-info;
}

.main .first-magazine-page .magazine-right-side .first-half-topics .magazine-small-topics .magazine-text-info .main-sub-title {
  font-size: 22px;
  line-height: 22px;
  color: #444444;
  font-family: 'Roboto Slab', serif;
}

.main .first-magazine-page .magazine-right-side .first-half-topics .magazine-small-topics .magazine-text-info .main-sub-text {
  width: 270px;
  height: 66px;
  font-size: 16px;
  line-height: 19px;
  color: #666666;
  font-family: 'Roboto Slab', serif;
}

.main .first-magazine-page .magazine-right-side .second-half-topics {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: second-half;
}

.main .first-magazine-page .magazine-right-side .second-half-topics .magazine-small-topics {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 110px 1.5fr;
      grid-template-columns: 110px 1.5fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "magazine-sub-img magazine-text-info";
  margin-bottom: 20px;
}

.main .first-magazine-page .magazine-right-side .second-half-topics .magazine-small-topics .magazine-sub-img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: magazine-sub-img;
  background-image: url(images/magazine-sub-img.png);
  width: 100px;
  height: 100px;
  position: relative;
}

.main .first-magazine-page .magazine-right-side .second-half-topics .magazine-small-topics .magazine-sub-img .magazin-img-size {
  position: absolute;
  position: absolute;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  font-family: 'Roboto Slab', serif;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main .first-magazine-page .magazine-right-side .second-half-topics .magazine-small-topics .magazine-text-info {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: magazine-text-info;
}

.main .first-magazine-page .magazine-right-side .second-half-topics .magazine-small-topics .magazine-text-info .main-sub-title {
  font-size: 22px;
  line-height: 22px;
  color: #444444;
  font-family: 'Roboto Slab', serif;
}

.main .first-magazine-page .magazine-right-side .second-half-topics .magazine-small-topics .magazine-text-info .main-sub-text {
  width: 270px;
  height: 66px;
  font-size: 16px;
  line-height: 19px;
  color: #666666;
  font-family: 'Roboto Slab', serif;
}

.main .third-magazine-page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(20px, 40px) 1fr 1fr 1fr 1fr minmax(20px, 40px);
      grid-template-columns: minmax(20px, 40px) 1fr 1fr 1fr 1fr minmax(20px, 40px);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: ". first-block second-block third-block fourth-block .";
  margin-bottom: 80px;
}

.main .third-magazine-page .first-summury-block {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: first-block;
  margin-right: 15px;
}

.main .third-magazine-page .second-summury-block {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: second-block;
  margin-right: 15px;
}

.main .third-magazine-page .third-summury-block {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: third-block;
  margin-right: 15px;
}

.main .third-magazine-page .fourth-summury-block {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: fourth-block;
  margin-right: 15px;
}

.main .third-magazine-page .sum-title {
  font-size: 25px;
  line-height: 13px;
  color: #666666;
  margin-bottom: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #999;
}

.main .third-magazine-page .sum-text {
  font-size: 16px;
  line-height: 19px;
  color: #982216;
}
/*# sourceMappingURL=style.css.map */