@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,500;1,500&family=Be+Vietnam+Pro:wght@300&family=Hammersmith+One&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,600;1,700&family=Noto+Serif:wght@700&family=Open+Sans:wght@400;700&family=Outfit:wght@300;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  display: -ms-grid;
  display: grid;
  background-image: url(images/header-background.png);
  -ms-grid-rows: 1fr 4fr;
      grid-template-rows: 1fr 4fr;
  min-height: 100vh;
  block-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 65px;
}

.header::before {
  content: '';
  background-color: black;
  opacity: 0.349;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.header-navigation {
  z-index: 1;
  -ms-grid-column-align: center;
      justify-self: center;
  padding-top: 40px;
}

.header-navigation .header-list {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
}

.header-navigation .header-list li {
  list-style: none;
  padding-left: 20px;
}

.header-navigation .header-list li a {
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
}

.header-navigation .header-list li a:hover {
  color: black;
}

.header-content {
  z-index: 1;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header-content-title {
  font-size: 35px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  margin-bottom: 15px;
}

.header-content-subtitle {
  text-align: center;
  font-size: 15px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
  margin-bottom: 25px;
}

.header-content-btn {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 200px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  border: 1px solid #fff;
}

.header-content-btn:hover {
  background-color: rgba(255, 255, 255, 0.452);
}

.about-us {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  padding: 0 20px;
  margin-bottom: 60px;
}

.about-us-top-bar-subtitle {
  font-size: 15px;
  color: #c4c4c4;
  font-weight: 500;
  font-family: "Montserrat";
  margin-bottom: 10px;
}

.about-us-top-bar-title {
  font-size: 18px;
  color: #000000;
  font-weight: 500;
  font-family: "Montserrat";
  margin-bottom: 20px;
}

.about-us-top-bar-text {
  font-size: 14px;
  letter-spacing: 3px;
  color: #5b5b5c;
  font-weight: 400;
  font-family: "Montserrat";
}

.about-us-top-bar-text-first-paragraph {
  margin-bottom: 15px;
}

.about-us-top-bar-btn {
  display: none;
}

.about-us-img {
  background-image: url(images/about-us-img/about-us-img-mobile.png);
  background-repeat: no-repeat;
  width: 280px;
  height: 382px;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 30px;
}

.photos-of-our-travels {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding: 0 20px;
  margin-bottom: 65px;
}

.photos-of-our-travels-top-bar-title {
  font-size: 20px;
  color: #000000;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  margin-bottom: 10px;
}

.photos-of-our-travels-top-bar-subtitle {
  font-size: 15px;
  color: #5b5b5c;
  font-weight: 500;
  font-family: "Montserrat";
  text-align: center;
  margin-bottom: 20px;
}

.photos-of-our-travels-photos .first-photo {
  background-image: url(images/hut.png);
}

.photos-of-our-travels-photos .second-photo {
  background-image: url(images/boat.png);
}

.photos-of-our-travels-photos .third-photo {
  background-image: url(images/view-on-boat.png);
}

.photos-of-our-travels-photos .fourth-photo {
  display: none;
}

.photos-of-our-travels-photos .fifth-photo {
  display: none;
}

.photos-of-our-travels-photos .sixth-photo {
  display: none;
}

.photos-of-our-travels-photos .seventh-photo {
  display: none;
}

.photos-of-our-travels-photos .eight-photo {
  display: none;
}

.photos-of-our-travels-photos .ninth-photo {
  display: none;
}

.photos-of-our-travels-photos .travels-photo {
  width: 280px;
  height: 280px;
  background-position: center;
  margin: 10px auto;
}

.photos-of-our-travels-photos .view-more-photos {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 200px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #000;
}

.photos-of-our-travels-photos .view-more-photos:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}

.travel-with-us {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding: 0 20px;
}

.travel-with-us-top-bar-title {
  font-size: 22px;
  color: #000000;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  margin-bottom: 10px;
}

.travel-with-us-top-bar-subtitle {
  font-size: 15px;
  color: #5b5b5c;
  font-weight: 500;
  font-family: "Montserrat";
  text-align: center;
  margin-bottom: 20px;
}

.travel-with-us-advantages {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.travel-with-us-advantages-first {
  margin-bottom: 30px;
}

.travel-with-us-advantages-first-img {
  background-image: url(images/first-advantage-mobile.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 144px;
  background-position: center;
  margin-bottom: 15px;
}

.travel-with-us-advantages-first-title {
  font-size: 15px;
  color: #000000;
  font-weight: 700;
  font-family: "Montserrat";
  margin-bottom: 20px;
}

.travel-with-us-advantages-first-text {
  font-size: 15px;
  color: #848484;
  font-weight: 400;
  font-family: "Montserrat";
  margin-bottom: 15px;
}

.travel-with-us-advantages-first-btn {
  width: 200px;
  height: 50px;
  background-color: #dddcdc;
  border: none;
}

.travel-with-us-advantages-first-btn:hover {
  background-color: grey;
  color: #fff;
}

.travel-with-us-advantages-second-img {
  background-image: url(images/second-advantage-mobile.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 144px;
  background-position: center;
  margin-bottom: 15px;
}

.travel-with-us-advantages-second-title {
  font-size: 15px;
  color: #000000;
  font-weight: 700;
  font-family: "Montserrat";
  margin-bottom: 20px;
}

.travel-with-us-advantages-second-text {
  font-size: 15px;
  color: #848484;
  font-weight: 400;
  font-family: "Montserrat";
  margin-bottom: 15px;
}

.travel-with-us-advantages-second-btn {
  width: 200px;
  height: 50px;
  background-color: #dddcdc;
  border: none;
}

.travel-with-us-advantages-second-btn:hover {
  background-color: grey;
  color: #fff;
}

.book-discounter-tour {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding: 20px 20px;
  background-color: #f4f4f4;
  margin-bottom: 65px;
}

.book-discounter-tour-top-bar-title {
  font-size: 20px;
  color: #000000;
  font-weight: 500;
  font-family: "Montserrat";
  margin-bottom: 10px;
  text-align: center;
}

.book-discounter-tour-top-bar-subtitle {
  font-size: 14px;
  color: #5b5b5c;
  font-weight: 400;
  font-family: "Montserrat";
  margin-bottom: 20px;
  text-align: center;
}

.book-discounter-tour-form form input[type=text] {
  width: 280px;
  height: 50px;
  display: block;
  border: 1px solid #7a7a7a;
  font-size: 15px;
  padding-left: 10px;
  margin: 20px auto;
}

.book-discounter-tour-form form button {
  width: 140px;
  height: 40px;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-color: #3a4047;
  border: 1px solid #7a7a7a;
  color: #fff;
}

.book-discounter-tour-form form button:hover {
  background-color: #7a7a7a;
  border: 1px solid #3a4047;
}

.footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding: 40px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.footer-content-first-paragraph {
  text-align: center;
  font-size: 18px;
  color: #000000;
  font-weight: 400;
  font-family: "Montserrat";
}

.footer-content-second-paragraph {
  font-size: 18px;
  text-align: center;
  color: #000000;
  font-weight: 400;
  font-family: "Montserrat";
}

@media (min-width: 768px) {
  .header-navigation .header-list li {
    padding-left: 40px;
  }
  .header-content-title {
    font-size: 55px;
  }
  .header-content-subtitle {
    font-size: 20px;
    color: #ffffff;
  }
  .about-us {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding: 0 20px;
  }
  .about-us-content {
    margin-top: 40px;
  }
  .about-us-content-btn {
    display: block;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0);
    color: #000;
    border: 1px solid #000;
  }
  .about-us-content-btn:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
  }
  .about-us-img {
    background-image: url(images/about-us-img/about-us-img-tablet.png);
    width: 370px;
    height: 505px;
    margin-top: 0px;
    padding-left: 10px;
  }
  .photos-of-our-travels {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 0 20px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .photos-of-our-travels-photos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .photos-of-our-travels-photos .first-photo {
    background-image: url(images/hut.png);
  }
  .photos-of-our-travels-photos .second-photo {
    background-image: url(images/boat.png);
  }
  .photos-of-our-travels-photos .third-photo {
    background-image: url(images/view-on-boat.png);
  }
  .photos-of-our-travels-photos .fourth-photo {
    background-image: url(images/venice.png);
    display: block;
  }
  .photos-of-our-travels-photos .fifth-photo {
    background-image: url(images/greece.png);
    display: block;
  }
  .photos-of-our-travels-photos .sixth-photo {
    background-image: url(images/rock.png);
    display: block;
  }
  .photos-of-our-travels-photos .seventh-photo {
    background-image: url(images/road.png);
    display: block;
  }
  .photos-of-our-travels-photos .eight-photo {
    background-image: url(images/jungle.png);
    display: block;
  }
  .photos-of-our-travels-photos .ninth-photo {
    background-image: url(images/river.png);
    display: block;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .photos-of-our-travels-photos .travels-photo {
    width: 350px;
    height: 300px;
    background-position: center;
  }
  .photos-of-our-travels-photos .view-more-photos {
    display: none;
  }
  .travel-with-us {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 0 20px;
    margin-bottom: 65px;
  }
  .travel-with-us-top-bar-title {
    font-size: 22px;
    color: #000000;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    margin-bottom: 10px;
  }
  .travel-with-us-top-bar-subtitle {
    font-size: 15px;
    color: #5b5b5c;
    font-weight: 500;
    font-family: "Montserrat";
    text-align: center;
    margin-bottom: 20px;
  }
  .travel-with-us-advantages {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .travel-with-us-advantages-first {
    margin-bottom: 30px;
  }
  .travel-with-us-advantages-first-img {
    background-image: url(images/first-advantage.png);
    height: 400px;
  }
  .travel-with-us-advantages-first-title {
    font-size: 15px;
    color: #000000;
    font-weight: 700;
    font-family: "Montserrat";
    margin-bottom: 20px;
  }
  .travel-with-us-advantages-first-text {
    font-size: 15px;
    color: #848484;
    font-weight: 400;
    font-family: "Montserrat";
    margin-bottom: 15px;
  }
  .travel-with-us-advantages-first-btn {
    width: 200px;
    height: 50px;
    background-color: #dddcdc;
    border: none;
  }
  .travel-with-us-advantages-first-btn:hover {
    background-color: grey;
    color: #fff;
  }
  .travel-with-us-advantages-second-img {
    background-image: url(images/second-advantage.png);
    height: 400px;
  }
  .travel-with-us-advantages-second-title {
    font-size: 15px;
    margin-bottom: 20px;
  }
  .travel-with-us-advantages-second-text {
    font-size: 15px;
  }
  .book-discounter-tour {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding: 50px 20px;
    margin-bottom: 65px;
  }
  .book-discounter-tour-top-bar {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (min-width: 992px) {
  .header-content-title {
    font-size: 70px;
  }
  .header-content-subtitle {
    font-size: 30px;
    color: #ffffff;
  }
  .about-us {
    display: -ms-grid;
    display: grid;
    padding: 0 40px;
  }
  .about-us-content-subtitle {
    font-size: 18px;
  }
  .about-us-content-title {
    font-size: 23px;
  }
  .about-us-content-text {
    font-size: 18px;
  }
  .about-us-img {
    background-image: url(images/about-us-img/about-us-img-laptop.png);
    background-repeat: no-repeat;
    width: 500px;
    height: 700px;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .photos-of-our-travels {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 0 40px;
  }
  .photos-of-our-travels-photos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .photos-of-our-travels-photos .first-photo {
    background-image: url(images/hut.png);
    width: 320px;
  }
  .photos-of-our-travels-photos .second-photo {
    background-image: url(images/boat.png);
    width: 600px;
    -ms-grid-column-align: start;
        justify-self: start;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
  }
  .photos-of-our-travels-photos .third-photo {
    background-image: url(images/view-on-boat.png);
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    width: 645px;
  }
  .photos-of-our-travels-photos .fourth-photo {
    background-image: url(images/venice.png);
    width: 293px;
  }
  .photos-of-our-travels-photos .fifth-photo {
    background-image: url(images/greece.png);
    width: 320px;
  }
  .photos-of-our-travels-photos .sixth-photo {
    background-image: url(images/rock.png);
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    width: 620px;
  }
  .photos-of-our-travels-photos .seventh-photo {
    background-image: url(images/road.png);
    width: 313px;
  }
  .photos-of-our-travels-photos .eight-photo {
    background-image: url(images/jungle.png);
    width: 310px;
  }
  .photos-of-our-travels-photos .ninth-photo {
    background-image: url(images/river.png);
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    width: 310px;
  }
  .photos-of-our-travels-photos .travels-photo {
    height: 300px;
    background-position: center;
  }
  .photos-of-our-travels-photos .view-more-photos {
    display: none;
  }
  .travel-with-us {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 0 40px;
    margin-bottom: 65px;
  }
  .travel-with-us-top-bar-subtitle {
    margin-bottom: 30px;
  }
  .travel-with-us-advantages {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .travel-with-us-advantages-first {
    margin-bottom: 30px;
  }
  .travel-with-us-advantages-first-img {
    background-image: url(images/first-advantage-small-laptop.png);
    width: 420px;
    height: 216px;
  }
  .travel-with-us-advantages-second-img {
    background-image: url(images/second-advantage-small-laptop.png);
    width: 420px;
    height: 216px;
  }
  .book-discounter-tour {
    padding: 20px 40px;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
}

@media (min-width: 1200px) {
  .about-us {
    padding-left: 120px;
    padding-right: 120px;
  }
  .about-us-top-bar {
    padding-top: 60px;
  }
  .about-us-top-bar-subtitle {
    font-size: 22px;
  }
  .about-us-top-bar-title {
    font-size: 30px;
  }
  .about-us-top-bar-text {
    font-size: 22px;
  }
  .about-us-img {
    background-image: url(images/about-us-img/about-us-img-laptop.png);
    width: 500px;
    height: 700px;
    margin-top: 0px;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .photos-of-our-travels {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 0 120px;
  }
  .photos-of-our-travels-top-bar-title {
    font-size: 32px;
    letter-spacing: 8px;
    color: #000000;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
  }
  .photos-of-our-travels-top-bar-subtitle {
    font-size: 28px;
    letter-spacing: 4px;
    color: #5b5b5c;
    font-weight: 500;
    font-family: "Montserrat";
    text-align: center;
  }
  .photos-of-our-travels-photos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
  .photos-of-our-travels-photos .first-photo {
    background-image: url(images/hut.png);
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .photos-of-our-travels-photos .second-photo {
    background-image: url(images/boat.png);
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    width: 100%;
  }
  .photos-of-our-travels-photos .third-photo {
    background-image: url(images/view-on-boat.png);
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-column: 4/6;
    width: 100%;
  }
  .photos-of-our-travels-photos .fourth-photo {
    background-image: url(images/venice.png);
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-column: 4/6;
    width: 100%;
  }
  .photos-of-our-travels-photos .fifth-photo {
    background-image: url(images/greece.png);
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    width: 100%;
  }
  .photos-of-our-travels-photos .sixth-photo {
    background-image: url(images/rock.png);
    -ms-grid-row: 2;
    grid-row: 2/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    width: 100%;
  }
  .photos-of-our-travels-photos .seventh-photo {
    background-image: url(images/road.png);
    -ms-grid-row: 3;
    grid-row: 3/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    width: 100%;
  }
  .photos-of-our-travels-photos .eight-photo {
    background-image: url(images/jungle.png);
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    width: 100%;
  }
  .photos-of-our-travels-photos .ninth-photo {
    background-image: url(images/river.png);
    width: 100%;
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-column: 5/6;
  }
  .photos-of-our-travels-photos .travels-photo {
    height: 400px;
    background-position: center;
  }
  .photos-of-our-travels-photos .view-more-photos {
    display: none;
  }
  .travel-with-us {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 0 120px;
    margin-bottom: 65px;
  }
  .travel-with-us-top-bar-title {
    font-size: 32px;
    letter-spacing: 8px;
    color: #000000;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
  }
  .travel-with-us-top-bar-subtitle {
    font-size: 28px;
    letter-spacing: 4px;
    color: #5b5b5c;
    font-weight: 500;
    font-family: "Montserrat";
    text-align: center;
  }
  .travel-with-us-advantages {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .travel-with-us-advantages-first {
    margin-bottom: 30px;
  }
  .travel-with-us-advantages-first-img {
    background-image: url(images/first-advantage.png);
    width: 100%;
    height: 400px;
  }
  .travel-with-us-advantages-first-title {
    font-size: 19px;
    color: #000000;
    font-weight: 700;
    font-family: "Montserrat";
  }
  .travel-with-us-advantages-first-text {
    font-size: 19px;
    color: #848484;
    font-weight: 400;
    font-family: "Montserrat";
  }
  .travel-with-us-advantages-second-img {
    background-image: url(images/second-advantage.png);
    width: 100%;
    height: 400px;
  }
  .travel-with-us-advantages-second-title {
    font-size: 19px;
    letter-spacing: 4px;
    color: #000000;
    font-weight: 700;
    font-family: "Montserrat";
  }
  .travel-with-us-advantages-second-text {
    font-size: 19px;
    color: #848484;
    font-weight: 400;
    font-family: "Montserrat";
  }
  .book-discounter-tour {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    padding: 80px 100px;
    background-color: #f4f4f4;
    margin-bottom: 65px;
  }
  .book-discounter-tour-top-bar-title {
    font-size: 20px;
    color: #000000;
    font-weight: 500;
    font-family: "Montserrat";
    margin-bottom: 10px;
    text-align: center;
  }
  .book-discounter-tour-top-bar-subtitle {
    font-size: 14px;
    color: #5b5b5c;
    font-weight: 400;
    font-family: "Montserrat";
    margin-bottom: 20px;
    text-align: center;
  }
  .book-discounter-tour-form form input[type=text] {
    width: 280px;
    height: 50px;
    display: inline;
    border: 1px solid #7a7a7a;
    font-size: 15px;
    padding-left: 10px;
    margin: 20px auto;
  }
  .book-discounter-tour-form form button {
    width: 140px;
    height: 40px;
    position: relative;
    left: 10%;
    background-color: #3a4047;
    border: 1px solid #7a7a7a;
    color: #fff;
  }
  .book-discounter-tour-form form button:hover {
    background-color: #7a7a7a;
    border: 1px solid #3a4047;
  }
}
/*# sourceMappingURL=style.css.map */